<h1>Edit <%= @dojo.branch%></h1>
<%if flash[:errors]%>
  <%flash[:errors].each do |error|%>
  <p><%=error%></p>
  <%end%>
<%end%>
<form action="/dojos/<%=@dojo.id%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="_method" value="PATCH">
  <label for="branch">
    Branch <input type="text" name="dojo[branch]" value="<%=@dojo.branch%>">
  </label>
  <label for="street">
    Street <input type="text" name="dojo[street]" value="<%=@dojo.street%>">
  </label>
  <label for="city">
    City <input type="text" name="dojo[city]" value="<%=@dojo.city%>">
  </label>
  <label for="state">
    State <input type="text" name="dojo[state]" value="<%=@dojo.state%>">
  </label>
  <input type="submit" value="Submit">
</form>

<p><a href="/dojos">Home</a> | <a href="/dojos/<%=@dojo.id%>">Show</a></p>
