<%if flash[:notice]%>
  <p><%=flash[:notice]%></p>
<%end%>
<h1>Listing <%=@dojos.length%> Dojos</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Coding Dojo Branch</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dojos.each do |dojo|%>
      <tr>
        <td><%=dojo.branch%></td>
        <td><%=dojo.street%></td>
        <td><%=dojo.city%></td>
        <td><%=dojo.state%></td>
        <td><a href="/dojos/<%=dojo.id%>">Show</a> | <a href="/dojos/<%=dojo.id%>/edit">Edit</a> |
          <form action="/dojos/<%=dojo.id%>" method="post">
            <input type="hidden" name="authenticity_token" value="form_authenticity_token">
            <input type="hidden" name="_method" value="delete">
            <input class="btn btn-danger" type="submit" value="Destroy">
        </form></td>
      </tr>
    <%end%>
  </tbody>
</table>

<a href="/dojos/new">New Dojo</a>
