<a href="/">Back</a>
<p><%=flash[:message]%></p>
<h1>Submitted Information</h1>
<h4>Name</h4>
<p><%=@result["name"]%></p>
<h4>Location</h4>
<p><%=@result["location"]%></p>
<h4>Language</h4>
<p><%=@result["language"]%></p>
<h4>Comment</h4>
<p><%=@result["comment"]%></p>
